.carrousel-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-between;
  background-color: black;
}

.product {
  display: inline-block;
  position: relative;
  border-left-width: 0;
  border-right-width: 1px;
}

.product img {
  display: block;
  padding: 0px;
  width: 100vw;
}

.grid-box {
  background-color: lightgrey;
}

@media screen and (min-width: 550px) {
  .merch {
    display: none;
  }
}
