.products {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.product {
  display: inline-block;
  position: relative;
  border-left-width: 0;
  border-right-width: 1px;
}

.product img {
  height: 440px;
  display: block;
  padding: 30px;
}

.grid-box {
  background-color: lightgrey;
}
