/* THIS CODE FOR ALL SCREEENS */

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

.logoNav {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  position: fixed;
  z-index: 100;
}

h1 {
  font-family: "Akira";
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(126, 23, 23);
  font-size: 40px;
  position: absolute;
  margin-top: 50px;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-family: "Akira";
  color: white;
  font-size: 30px;
  position: absolute;
  margin-top: 50px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  line-height: 1.3;
  font-family: "Oswald";
  font-weight: 100;
  letter-spacing: 1.2px;
}

h3 {
  font-family: "Akira";
  font-size: 24p;
}

.hamburgerParent {
  position: fixed;
  padding-left: 10px;
  padding-top: 10px;
  transform: translateX(calc(100vw - 65px));
}

.hamburger {
  width: 35px;
  height: 5px;
  display: flex;
  background-color: white;
  margin: 6px 0;
  border-radius: 100px;
}
.navigation {
  width: 100vw;
  display: none;
}

.hero img {
  width: 100vw;
  margin-top: 0;
}

.signUp {
  font-family: "Akira";
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: black;
  border: solid rgb(126, 23, 23);
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topTrio {
  display: grid;
  padding: 0;
  margin-top: 220px;
  background-color: black;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.trioBox {
  width: 100vw;
}

.trioBoxText {
  padding: 25px;
  color: white;
  width: 100vw;
  text-align: left;
}

.japaneseIcon img {
  margin-bottom: 30px;
  padding-top: 50px;
  position: relative;
  width: 100vw;
  height: 490px;
}

.moreInfo {
  font-family: "Akira";
  color: white;
  font-size: 14px;
  margin-top: 40px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: black;
  border: solid rgb(126, 23, 23);
  left: 35%;
  position: relative;
}

.station {
  object-fit: cover;
  position: relative;
}

.station img {
  width: 100vw;
}

.stationParagraph {
  color: white;
  padding: 30px;
}

.street img {
  width: 100vw;
}

.blackBox {
  display: grid;
  padding: 0;
  margin-top: 50px;
  padding: 30px;
  background-color: black;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  color: white;
  justify-items: center;
}

.blackBox img {
  width: 300px;
}

.parts img {
  width: 100vw;
}

.smoke {
  position: relative;
}

.smoke img {
  width: 100vw;
  z-index: -20;
}

.fastCar {
  display: flex;
  justify-content: center;
}

.bigSmoove {
  color: black;
  font-size: 40px;
  position: absolute;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.bigSigns img {
  position: absolute;
  width: 200px;
  transform: translate(0%, -30%);
  z-index: 100;
}

.tokyo {
  display: grid;
  padding: 0;
  margin-top: 70px;
  background-color: black;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  color: white;
  justify-items: center;
}

.tokyoParagraph {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
}

.fastCar h3 {
  color: white;
  font-size: 24px;
  margin-top: 40px;
  -webkit-text-stroke-width: 0px;
  text-align: center;
}

.fastCar img {
  width: 100vw;
}

.order {
  font-family: "Akira";
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: black;
  border: solid rgb(126, 23, 23);
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desktopMerch {
  display: none;
}

.contact {
  display: grid;
  padding: 0;
  background-color: black;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  /*   justify-content: center;
 */
}

.contactSymbol {
  display: grid;
  justify-self: center;
}

.contactInfo {
  line-height: 2.3;
  font-size: 20px;
  color: white;
  text-align: center;
}

/* @media screen and (min-width: 480px) {
  
HÄR KAN VI HA EVENTUELL DESIGN FÖR PADDA OM DET HINNS MED :) 

} */

@media screen and (min-width: 550px) {
  .hamburgerParent {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .topnav a {
    float: right;
    color: white;
    font-family: "Akira";
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a:hover {
    color: rgb(126, 23, 23);
  }

  .topnav a.active {
    background-color: grey;
    color: white;
  }

  h1 {
    font-family: "Akira";
    -webkit-text-stroke-width: 2px;
    font-size: 170px;
    top: 22%;
  }

  h2 {
    font-size: 95px;
    text-align: center;
    top: 25%;
  }

  .signUp {
    font-size: 24px;
    width: 260px;
    height: 65px;
    background-color: black;
    border: solid rgb(126, 23, 23);
    margin: 0;
    transform: translate(-50%, 800%);
  }

  .signUp :hover {
    background-color: rgb(126, 23, 23);
  }

  .topTrio {
    width: 100vw;
    margin-bottom: 150px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .trioBox {
    display: grid;
    width: 100%;
    justify-content: center;
  }

  .trioBoxText {
    padding-top: 150px;
    color: white;
    width: 400px;
  }

  .japaneseIcon img {
    width: 360px;
    height: 470px;
  }

  .moreInfo {
    font-size: 24px;
    width: 260px;
    height: 65px;
    transform: translate(-50%, 50%);
  }

  .stationParagraph {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
  }

  .textWrapper {
    padding: 190px 80px 20px 120px;
  }

  .blackBox {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .blackBox {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }

  .blackParagraph {
    width: 400px;
    text-align: left;
    margin-top: 100px;
  }

  .signsBlackBox {
    padding-top: 50px;
  }

  .bigSmoove {
    /*    margin-left: 350px; */
    margin-top: -20px;
    margin-left: 2px;
    font-size: 160px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }

  .smoke img {
    /*  padding: 30px; */
    position: absolute;
  }

  .bigSigns img {
    position: absolute;
    width: 900px;
    margin-top: 100px;
    margin-left: 0%;
    transform: translate(-2%, 200%);
    z-index: 100;
  }

  .tokyo {
    position: relative;
    display: flex;

    margin-top: 1300px;
  }

  .tokyoParagraph {
    color: white;
    position: absolute;
    text-align: left;
    width: 400px;
    padding: 40px;
    margin-left: 50px;
    transform: translate(240%, -10%);
  }

  .fastCar {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fastCar h3 {
    display: flex;
    position: absolute;
    text-align: center;
    font-size: 100px;
  }

  .fastCar img {
    padding-top: 400px;
  }

  .desktopMerch {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    height: 700px;
  }
  .desktopMerch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .order {
    display: none;
  }

  .orderDesktop {
    font-family: "Akira";
    color: white;
    font-size: 24px;
    cursor: pointer;
    width: 260px;
    height: 65px;
    background-color: black;
    border: solid rgb(126, 23, 23);
    margin: 0;
    position: absolute;
    transform: translate(-210%, 880%);
  }

  .contact {
    margin-top: 50px;
    display: grid;
    padding: 0;
    background-color: black;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contactInfo {
    line-height: 2.3;
    font-size: 30px;
    color: white;
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 2;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
