* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  position: relative;
  background-color: lightpink;
  height: 100px;
}

body {
  width: 100%;
}

.hamburgerParent {
  position: absolute;
}

.hero-container img {
  width: 100vw;
  height: 446px;
  object-fit: fill;
}

.hero img {
  object-fit: fill;
}

.below-hero {
  background-color: lightpink;
  width: 100vw;
  height: 156px;
}

.grid-container {
  height: 200px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-box {
  background-color: lightgrey;
}

.gas-station {
  background-color: lightpink;
  width: 100vw;
  height: 594px;
}

.hamburger {
  width: 35px;
  height: 5px;
  display: flex;
  background-color: black;
  margin: 6px 0;
}

@media screen and (min-width: 870px) {
}
