* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  position: relative;
  background-color: lightpink;
  height: 100px;
}

body {
  width: 100%;
}

.hamburgerParent {
  position: absolute;
}

.hero-container img {
  width: 100vw;
  height: 446px;
  object-fit: fill;
}

.hero img {
  object-fit: fill;
}

.below-hero {
  background-color: lightpink;
  width: 100vw;
  height: 156px;
}

.grid-container {
  height: 200px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

section {
  width: 100vw;
  height: 1250px;
}

.gasstation {
  background-color: palevioletred;
  width: 100vw;
  height: 594px;
}

.foodstore {
  background-color: lightpink;
  width: 100vw;
  height: 594px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 173, 220);
  width: 100vw;
  height: 687px;
}

.container-content {
  background-color: rgb(206, 123, 137);
  width: 345px;
  height: 295px;
}

.dark-box {
  background-color: powderblue;
  width: 100vw;
  height: 610px;
}

.banner {
  background-color: pink;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100vw;
  height: 176px;
}

.long-box {
  background-color: plum;
  width: 100vw;
  height: 800px;
}

.box-item {
  background-color: rgb(186, 186, 228);
  height: 120px;
  border-radius: 10%;
  padding-top: 25%;
  margin-left: 21%;
  margin-right: 21%;
}

.boxparent {
  position: relative;
}

.upper-box {
  display: none;
  background-color: blanchedalmond;
  position: absolute;
  width: 100vw;
  height: 176px;
}

.hamburger {
  width: 35px;
  height: 5px;
  display: flex;
  background-color: black;
  margin: 6px 0;
}

@media screen and (min-width: 870px) {
}
